[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[include]
    path = ~/.gitconfig.local

[push]
    autoSetupRemote = true
    useForceIfIncludes = true
    default = current

[core]
    editor = nvim
    autocrlf = input
    fileMode = false

[pull]
    rebase = true

[rebase]
    autoStash = true
    updateRefs = true

[branch]
    sort = -committerdate

[rerere]
    enabled = true

[merge]
    conflictStyle = zdiff3

[fetch]
    prune = true

[help]
    # Wait 2 seconds (20 deciseconds) before executing a corrected command
    # Example: if you type 'git statsu', it will wait 2 seconds then run 'git status'
    autocorrect = 20

[alias]
    # Check if branch needs rebase
    behind = "!git rev-list --left-right --count HEAD...@{u} | cut -f2"

[user]
	name = Jefferson-Butler1
  email = jefferson.butler@icloud.com
[url "git@github.com:"]
	insteadOf = https://github.com/
