[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[include]
    path = ~/.gitconfig.local

[push]
    autoSetupRemote = true
    useForceIfIncludes = true
    default = current

[core]
    pager = delta
    editor = nvim
    autocrlf = input
    fileMode = false

[diff]
  algorithm = patience
  compactionHeuristic = true
  tool = nvimdiff

[difftool "nvimdiff"]
  ; cmd = nvim -d \"$LOCAL\" \"$REMOTE\" -c \"$wincmd w\" -c \"$wincmd L\"
  cmd = nvim -d $LOCAL $REMOTE -c "$wincmd w" -c "$wincmd L"

[merge]
  tool = nvimdiff4
  prompt = false

[mergetool "nvimdiff4"]
cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c '$wincmd J'

[pull]
    rebase = true

[rebase]
    autoStash = true
    updateRefs = true

[branch]
    sort = -committerdate

[rerere]
    enabled = true

[merge]
    conflictStyle = zdiff3

[fetch]
    prune = true

[help]
    # Wait 2 seconds (20 deciseconds) before executing a corrected command
    # Example: if you type 'git statsu', it will wait 2 seconds then run 'git status'
    autocorrect = 20

[alias]
    # Check if branch needs rebase
    behind = "!git rev-list --left-right --count HEAD...@{u} | cut -f2"

[user]
	name = Jefferson-Butler1
  email = jefferson.butler@icloud.com
[url "git@github.com:"]
	insteadOf = https://github.com/
